/**
 * WP Default Template
 */
/**
 * Base styles used by every template
 */
/**
 * Imports third party modules such as bourbon and bitters.
 */
/* line 1, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_buttons.scss */
button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 22, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_buttons.scss */
button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
  background-color: #11519a;
  color: #fff;
}

/* line 28, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_buttons.scss */
button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 32, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_buttons.scss */
button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #1565c0;
}

/* line 1, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 14, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

/* line 20, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
}

/* line 28, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}

/* line 40, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
  border-color: #b1b1b1;
}

/* line 44, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}

/* line 50, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

/* line 54, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #ddd;
}

/* line 59, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
[type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #858585;
}

/* line 64, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 68, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 74, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 79, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_forms.scss */
select {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 1, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_layout.scss */
html {
  box-sizing: border-box;
}

/* line 5, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_layout.scss */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* line 11, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_layout.scss */
html,
body {
  height: 100%;
}

/* line 1, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_lists.scss */
dl {
  margin: 0;
}

/* line 12, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_lists.scss */
dt {
  font-weight: 600;
  margin: 0;
}

/* line 17, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_lists.scss */
dd {
  margin: 0;
}

/* line 1, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_media.scss */
figure {
  margin: 0;
}

/* line 5, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_media.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 1, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 20, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_typography.scss */
body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

/* line 20, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_typography.scss */
a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease;
}

/* line 29, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #104c90;
}

/* line 36, C:/Users/james/Projects/Websites/longweirdword.com/v2/wordpress/wp-content/themes/longweirdword/assets/scss/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/**
 * Grid Styles
 */

/*# sourceMappingURL=../css/default.map */