<!DOCTYPE html>
<html {{site.language_attributes}}>
  <head>
    {% include 'head.twig' %}
    {% block head %}
    {% endblock %}
    {{wp_head}}
  </head>

  <body class="{{body_class}}">
  	<header role="banner">
      {% include 'header.twig' %}
      {% block header %}
      {% endblock %}
  	</header>

  	<main role="main">
      {% block main %}
        <pre>No content available.</pre>
      {% endblock %}
  	</main><!-- End primary page content -->

    <!-- NOTE: use this to load wp widgets like the sidebar -->
  	<!-- <aside role="complementary">
  		<h3>Secondary page content</h3>
      <p>Use the <code>aside</code> element if you need to include content that is not central to the focus of the page or is clearly of secondary importance.</p>
  	</aside> -->

  	<footer role="contentinfo">
      {% include 'footer.twig' %}
      {% block footer %}
      {% endblock %}
  	</footer>
    {{wp_footer}}
  </body>
</html>
