{% block head %}
	<meta charset="{{site.charset}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="{{site.author}}">

  <title>
    {% if wp_title %}
      {{wp_title}} - {{site.name}}
    {% else %}
      {{site.name}}
    {% endif %}
  </title>
{% endblock %}
