{% block header %}
  <span class="nav-logo">
    <a href="{{site.url}}" class="brand">Site Title or Logo</a>
  </span>

  <!-- css based mobile opener -->
  <input type="checkbox" id="mobile-nav-opener-checkbox" hidden>
  <label class="mobile-nav-opener" for="mobile-nav-opener-checkbox">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </label>

  <nav role="navigation">
    {% include 'menu.twig' with {'menu': menus.header.get_items} %}
  </nav>
{% endblock %}
